In [1]:
import json
import pandas as pd
import traceback

In [3]:
df=pd.read_excel(r'F:\360MoveData\Users\Administrator\Desktop\data.xlsx')
df.head()

   序号 标注人员                                               标注结果
0   1  王小二  [{"tags":["123","231"],"username":"张三","infos"...
1   2  王小二                                                NaN
2   3   杨六  {"tags":["96","f2931"],"username":"楼满月","infos...

In [4]:
def df_to_json(df):
    #找到json列
    jc=''
    for c in df.columns:
        a0=str(list(df[c]))
        if '{' in a0 and ':' in a0 and '[' in a0:
            jc=c
    if jc=='':
        return []
    res=[]
    for i,c in df.iterrows():
        r0={}
        for col in df.columns:
            if col!=jc:
                r0[col]=c[col]
            else:
                try:
                    if type(c[col])!=str:
                        r0[col]=[]
                    else:
                        r0[col]=json.loads(c[col])
                except:
                    print(traceback.format_exc())
        res.append(r0.copy())
    return res
r00=df_to_json(df)

In [5]:
def unfolds(js):
    ojs={}
    for k,v in js.items():
        if type(v)==dict:
            ojs.update(unfolds(v))
        else:
            ojs[k]=v
    return ojs

In [6]:
def ex_aa(aa,bb):
    f=0
    rc=bb.copy()
    aa=unfolds(aa)
    ks=[]
    for k,v in aa.items():
        if type(v)!=list:
            rc[k]=v
        elif v==[]:
            pass
            #rc[k]='[]'
        else:#list
            if type(v[0])==dict:
                f+=1
                ks.append(k) #假设有多个列表的情况
            else:
                rc[k]=str(v)
    if f==0:
        rc.update(bb)
        return [rc]
    else:
        w=[]
        for i in aa[ks[0]]:
            w.extend(ex_aa(i,rc))
        return w

In [7]:
res=[]
for i in r00:
    res.extend(ex_aa(i,{}))
res

[{'序号': 1,
  '标注人员': '王小二',
  'tags': "['123', '231']",
  'username': '张三',
  '地点': '北京',
  '爱好': '足球'},
 {'序号': 1,
  '标注人员': '王小二',
  'tags': "['123', '231']",
  'username': '张三',
  '地点': '天津',
  '爱好': '篮球'},
 {'序号': 1,
  '标注人员': '王小二',
  'tags': "['23', '2931']",
  'username': '火星',
  '地点': '天津',
  '爱好': '足球'},
 {'序号': 2, '标注人员': '王小二'},
 {'序号': 3,
  '标注人员': '杨六',
  'tags': "['96', 'f2931']",
  'username': '楼满月',
  '地点': '湖北',
  '爱好': '足球'}]

In [8]:
pd.DataFrame(res)

              tags username   地点  序号 标注人员   爱好
0   ['123', '231']       张三   北京   1  王小二   足球
1   ['123', '231']       张三   天津   1  王小二   篮球
2   ['23', '2931']       火星   天津   1  王小二   足球
3              NaN      NaN  NaN   2  王小二  NaN
4  ['96', 'f2931']      楼满月   湖北   3   杨六   足球

In [9]:
out=pd.DataFrame(res)
out.to_excel('data-out.xlsx',index=False)

In [4]:
r00

[{'序号': 1,
  '标注人员': '王小二',
  '标注结果': [{'tags': ['123', '231'],
    'username': '张三',
    'infos': [{'地点': '北京', '爱好': '足球'}, {'地点': '天津', '爱好': '篮球'}]},
   {'tags': ['23', '2931'],
    'username': '火星',
    'infos': [{'地点': '天津', '爱好': '足球'}]}]},
 {'序号': 2, '标注人员': '王小二', '标注结果': []},
 {'序号': 3,
  '标注人员': '杨六',
  '标注结果': {'tags': ['96', 'f2931'],
   'username': '楼满月',
   'infos': [{'地点': '湖北', '爱好': '足球'}]}}]

In [41]:
aa={'a':[{'aa':1,'bb':[{'aaa':31,'bbb':32},{'aaa':41,'bbb':42}]},{'aa':11}],'b':2}
ex_aa(aa,{})

[{'b': 2, 'aa': 1, 'aaa': 31, 'bbb': 32},
 {'b': 2, 'aa': 1, 'aaa': 41, 'bbb': 42},
 {'b': 2, 'aa': 11}]